/* Photo frame */
.photo-frame {
  width: 130px;
  height: 130px;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Section title */
.section-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* Button styling */
.btn-download {
  background-color: #2563eb;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.btn-download:hover {
  background-color: #08153a;
}
